body{
    font-family:'Times New Roman', Times, serif
}
.container{
    margin: auto;
    width: 20%;
}

.img{
    text-align: center;
    margin: 0 0 0 0;
    position: relative;
}

.avatar{
    width: 100%;
    border-radius: 50%;
}

input{
   width: 100%;
   padding: 8px 20px;
   margin: 0 0 2px 0px;
   display:inline-block
   box-sizing: border-box;
}

.data{
    padding: 20px;
}

button{
    padding: 20px;
    display: inline-block;
    padding: 1% 2%;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    margin-left: 46%;
    margin-top: 1%;
    color: brown;
    font-weight: bold;
    background-color: black;
}